@page "/"
<PageTitle>Welcome</PageTitle>

<h1>Welcome</h1>
<br/><br/>
<p>This is my, Nick Salt, submission for the Shakepay Programming assingment.</p>
<br/>
<p>I am applying for the <a href="https://jobs.lever.co/shakepay/b46a4f6c-8bef-42d0-89d3-b64e0666927f" target="_blank"> full-stack devloper position</a>.</p>
<br/>
<p>I was able to complete the challenge as well as the optional challenge of using the use the proper market rate of BTC and ETH at transaction time to calculate the net worth.</p>
<br/>
<p>I have the table and chart view for the data. You can navigate to either page using the left-hand sidebar.</p>